.searchform {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.searchform__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    margin-left: 14px;
    margin-right: 14px;
    padding-bottom: 49px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.seachform__input {
    padding-right: 6px;
    padding-left: 19px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    max-width: 292px;
    background-color: #F9F9F9;
    border-radius: 40px;
}

.seachform__input-box {
    padding-top: 14px;
    padding-bottom: 14px;
    min-width: 183px;
    background-color: transparent;
    color: #A0A0A0;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    border: none;
    outline: none;
}

.seachform__submit-button {
    margin-left: 21.35px;
    background-color: #000000;
    width: 58.65px;
    height: 34px;
    border-radius: 48px;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    border: none;
}

.seachform__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seachform__switch {
    display: inline-block;
    width: 36px; 
    height: 20px;
    background: #a0a0a0; 
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: .4s;
    border-radius: 20px;
}

.seachform__switch::after {
    content: "";
    height: 16px;
    width: 16px; 
    background: #ffffff;
    top: 2px; 
    left: 2px;
    transition-duration: .4s; 
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}

.seachform__switch_active {
    background: #2BE080;
}

.seachform__switch_active::after {
    left: 18px;
}

.seachform__slider-text {
    margin: 0 0 0 13px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
}

@media (min-width: 768px) { 
    .searchform__content {
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 52px;
    }
    
    .seachform__input {
        padding-left: 22px;
        max-width: 708px;
    }
    
    .seachform__input-box {
        min-width: 600px;
        font-size: 13px;
    }
    
    .seachform__slider-text {
        margin-left: 12px;
        font-size: 14px;
    }
}

@media (min-width: 1280px) { 
    .searchform__content {
        padding-top: 60px;
        margin-left: 70px;
        margin-right: 70px;
        padding-bottom: 69px;
    }
    
    .seachform__input {
        max-width: 1140px;
    }
    
    .seachform__input-box {
        min-width: 1030px;
    }
}
