.header {
    padding: 18px 14px 18px 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.header__root_main {
    background: #f3c1f8;
}

.header__root_movies {
    background: #ffffff;
}

.header__sign-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__signup {
    margin-right: 14px;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
}

.header__signin {
    background: #000000;
    min-width: 54px;
    min-height: 26px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
}

.header__links {
    padding: 0;
    margin: 0 50px 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header__link-cell {
    margin-right: 20px;
}

.header__link-cell:last-child {
    margin-right: 0;
}

.header__link {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.header__link_active {
    font-weight: 500;
}

.header__menu-button {
    padding: 0;
    width: 40px;
    height: 38px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu-image {
    background-image: url(../../images/navigation-icon.svg);
    width: 22px;
    height: 20.5px;
    background-size: cover;
}

@media (min-width: 768px) {
    .header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header__signup {
        margin-right: 30px;
        font-size: 12px;
    }

    .header__signin {
        min-width: 76px;
        min-height: 32px;
        font-size: 12px;
    }

    .header__menu-image {
        width: 28px;
        height: 23px;
    }
}

@media (min-width: 1280px) {
    .header {
        padding-left: 70px;
        padding-right: 70px;
    }
}
